dvc==3.67.1
fastapi==0.135.3
gensim==4.3.2
ipykernel==7.2.0
joblib==1.5.3
nbformat==5.10.4
nlpaug==1.1.11
nltk==3.9.4
pandas==2.2.3
pipreqs==0.4.13
plotly==5.24.1
psycopg2-binary==2.9.11
pypdf==6.10.2
python-dotenv==1.2.2
PySocks==1.7.1
requests==2.32.3
safetensors==0.7.0
scikit-learn==1.8.0
seaborn==0.13.2
spacy==3.8.13
SQLAlchemy==2.0.49
tokenizers==0.19.1
torch==2.11.0
streamlit==1.56.0
uvicorn>=0.30,<1.0
wheel==0.46.3
wordcloud==1.9.6

# core ML
transformers==4.41.2
accelerate==0.30.1

# LLMs for sentence augmentations:
openai
google-generativeai
ipywidgets

